

.inicial {
    display: inline-block;
    font-size: large;
}

.sobre {
    display: inline-block;
    font-size: large;
    margin-left: 20px;
}

.contato {
    display: inline-block;
    font-size: large;
    margin-left: 20px;
}








