#foto {
    border-radius: 100%;
}



.pois {
    background-color: blueviolet;
    padding: 20px;
    width: max-content;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    
}






